*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Inter";
    src: url("../Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}
:root{
    --background: rgb(33, 33, 33);
    --foreground: rgb(42, 42, 42);
    --text: rgb(197, 197, 197);
    --textDark:rgb(124, 124, 124);
    --hyperLink: rgb(67, 122, 216);
    --shadow: rgb(25, 25, 25);
    --sale: rgb(33, 188, 41);
    --primeBlue: rgb(115, 165, 252);
    --primeYellow: rgb(255, 160, 26);

    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
}
nav{
    width: 100%;
    height: 4rem;
    padding: 0.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
h1{
    font-size: 2.5rem;
}
a{
    text-decoration: none;
}

#list{
    width: 100vw;
    padding: 3rem 2rem 1rem 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list .item{
    box-sizing: border-box;
    border-radius: 3rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    background-color: var(--foreground);
    max-width: 70rem;
    width: 100%;
    transition: 200ms;
    color: var(--text);
}
#list .item:hover{
    scale: 1.02;
    box-shadow: 0rem 1rem 1rem var(--shadow);
    transform: translateY(-1rem);
    cursor: pointer;
}
#list .item:active{ 
    transition: 100ms;
    scale: 1;
    transform: translateY(1rem);
    box-shadow: none;
}
#list .price{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 0.3rem;
    margin-right: 2rem;
}
#list .date{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--textDark);
}
#list img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#list .item .left{
    width: 12rem;
    aspect-ratio: 1/1;
    margin-right: 1rem;
    margin-left: 1rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#list .item .middle{
    margin-right: 1rem;
    padding: 0.5rem;
    flex-grow: 1;
}
#list .item .middle .data{
    display: flex;
    padding: 0.1rem;
}
#list .item .right{
    margin-right: 1rem;
    padding: 0.5rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#list .item .right p{
    font-size: 3rem;
    font-weight: 700;
}
span.prime{
    animation: prime 5s ease-in-out infinite;
}
span.discount{
    color: var(--sale);
}
@keyframes prime{
    from{
        color: var(--primeBlue);
    }
    50%{
        color: var(--primeYellow)
    }
    to{
        color: var(--primeBlue);
    }
}